#messageId{
    background-color: aliceblue;
    margin-top: 200px;
    width: 20%;
    height: 150px;
}

#messageHeading{
    margin-top: 20px;
    margin-left: 20px;
}

#messageBtn{
    width: 60px;
    height: 30px;
    margin-top: 80px;
    margin-right: 40px;
}