#container{
    text-align: center;
    width:30%;
    margin-top: 20px;
}

.bdy_div{
    margin: 3px;
    padding: 5px;
    height: 40px;
    width:80px;
    text-align: left;
}

#nextBtn{
    width: 50%;
    margin-bottom: 10px;
}

#div_block{
    padding-top: 12px;
    text-align: center;
    width:30%;
    margin-top: 20px;
}

img{
    width:40%;
    height:30%
}

#nextBtn2{
    padding-top: 1px;
    width:100%;
    height: 30px;
}